h1 {
  font-size: calc(1.8rem + 1vw);
  margin-bottom: 4vh;
}

h2 {
  margin-bottom: 2vh;
}

h3,
h4,
h5 {
  margin: 2vh 0;
}

p {
  margin: 1.5vh 0;
  line-height: 1.4rem;
}

label {
  font-size: calc(1.2rem + 1vw);
}
