@import 'variabiles.scss';
@import 'mixin.scss';
@import 'utility.scss';
@import 'reset.scss';
@import 'typography.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  background-color: $darkBg;
  color: $semiLightTxt;
  height: 100vh;
  @include flex();
  background-color: #282b35;
  color: $semiLightTxt;
}
main {
  @include width-height(70vw, 85vh);
  text-align: center;
  @include flex(column, space-between, center);
  section,
  .itemList {
    width: 100%;
  }
  .errwrap {
    height: 50px;
    text-align: left;
    color: red;
    .err {
      line-height: 50px;
      margin: 0;
    }
  }
}
input {
  margin-top: 2vh;
}
#addItem {
  color: $brand;
  width: 100%;
  font-size: calc(1rem + 1vw);
}
.itemList {
  width: 100%;
  flex-grow: 1;
  padding-top: 10vh;
  overflow: auto;
  li {
    @include flex(row, space-between, center);
    padding: 1.5vh 0;
    font-size: calc(0.7rem + 1vw);
    border-bottom: 1px solid $semiLightTxt;
    span {
      cursor: pointer;
      &:hover {
        color: $pureW;
      }
    }
    i {
      color: rgba(255, 255, 255, 0.6);
      cursor: pointer;
      &:hover {
        color: $pureW;
      }
    }
  }
}
::placeholder {
  color: $brand;
}
// classi aggiunte da js
@import '_jsClasses.scss';
